@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root {
	--primary-white: #f8f2f2;
	--primary-green: #436952;
	--primary-alpha-white: rgba(227, 224, 224, 0.88);
	--primary-alpha-green: rgba(159, 206, 189, 0.88);
	--primary-black: #232523;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
	font-weight: 400;
	background-color: #fff;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

hr {
	display: flex;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ----------------------- */
#header-section {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--primary-green);
	text-align: center;
}

header {
	text-decoration: underline;
}

/* ----------------------- */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--primary-green);
}

/* ----------------------- */
#nav-list {
	width: 100%;
	max-width: 1600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list-item {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-a {
	padding: 7px 5px;
	border-radius: 4px;
	border: none;
	color: var(--primary-white);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.list-a:hover {
	cursor: pointer;
}

.list-a::after {
	content: url('../img/down-arrow-5-svgrepo-com.svg');
	margin-right: 5px;
	height: auto;
}

/* ----------------------- */
#assortment-section {
	width: 100%;
	height: auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../img/fishing.jpg');
	background-size: cover;
}

#assortment-container {
	width: 100%;
	max-width: 1100px;
	height: auto;
	margin: 0 50px 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#assortment-container > h3 {
	font-size: 1.5rem;
}

#subtitle {
	text-align: center;
	width: 100%;
	padding: 15px 0 15px 0;
	margin: 0;
	color: var(--primary-white);
}

/* ----------------------- */
article {
	width: 100%;
	height: auto;
	margin: 15px 0 15px 0;
	color: var(--primary-black);
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.article-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	letter-spacing: 1px;
}

.article-title {
	font-size: 1.2rem;
}

.article-paragraph {
	text-align: justify;
	font-size: 1rem;
}

.article-link {
	color: var(--primary-green);
	text-decoration: underline;
	font-size: 1rem;
}

.article-image {
	width: 100%;
	max-width: 200px;
	height: auto;
	margin: 30px;
	border-radius: 3px;
}

article:nth-child(even) > .article-content {
	flex-direction: row-reverse;
}

article:nth-child(odd) {
	background-color: var(--primary-alpha-white);
}

article:nth-child(even) {
	background-color: var(--primary-alpha-green);
}

/* ----------------------- */
#discounted-products-section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	color: var(--primary-black);
}

#discounted-products-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 1100px;
	height: auto;
}

#items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.item {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
}

.item:hover {
	cursor: pointer;
}

.item-title {
	margin: 10px;
}

.item-image {
	width: 150px;
	height: 150px;
	margin: 10px 0 10px 0;
}

.item-price {
	color: #007bff;
}

/* ----------------------- */
#newsletter-section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-green);
	color: var(--primary-white);
}

#newsletter-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 1100px;
	height: auto;
}

/* ----------------------- */
footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 20px 0 0 0;
	color: var(--primary-black);
}

#footer-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	max-width: 1100px;
	height: auto;
}

/* ----------------------- */
@media only screen and (max-width: 1200px) {
	#discounted-products-container {
		max-width: 900px;
	}

	.article-image {
		height: auto;
	}
}

@media only screen and (max-width: 992px) {
	#discounted-products-container {
		max-width: 700px;
	}
}

@media only screen and (max-width: 768px) {
	#discounted-products-container {
		max-width: 500px;
	}

	nav {
		display: none;
	}

	#newsletter-container,
	#footer-container {
		margin: 0 10px 0 10px;
	}

	h1 {
		font-size: 1.25rem;
	}

	h2 {
		font-size: 1rem;
	}

	article {
		margin: 10px 0 10px 0;
	}

	.article-image {
		max-width: 100px;
		display: none;
	}

	.article-title {
		font-size: 1.1rem;
	}

	.article-paragraph {
		text-align: justify;
		font-size: 0.9rem;
	}

	.article-link {
		font-size: 0.9rem;
	}

	#items {
		flex-direction: column;
	}

	.item {
		margin: 15px;
		padding: 10px;
	}
}

@media only screen and (max-width: 576px) {
	#article-image {
		width: 50px;
		height: 50px;
	}
}
